<h3><span class="label label-info">Booking Search</span></h3>
<div style="clear: both;"></div>
<table tr-ng-grid="" selected-items="mySelectedItems" page-items="10" items="myItems" fields="['BookingNo','BookingDate', 'BookingApproval' ,'BookingApprovalDate']"
    selection-mode="SingleRow">
    <thead>
        <tr>
            <th field-name="BookingNo" display-align="BookingNo"></th>
            <th field-name="BookingDate" enable-sorting="BookingDate"></th>
            <th field-name="BookingApproval" enable-sorting="BookingApproval"></th>
            <th field-name="BookingApprovalDate" enable-sorting="BookingApprovalDate"></th>
        </tr>
    </thead>  
</table>
