<form novalidate name="form1">
    <div class="col-xs-offset-0 col-xs-4">
        <h3><span class="label label-info">Book Venue</span></h3>
        <div class="form-group">
            Event Type
            <select ng-model="Book.EventSelected" class="form-control" required ng-options="s.EventID as s.EventType for s in EventList" name="EventType" id="EventType">
                <option value="">select an option...</option>
            </select>
            <span style="color: red" ng-show="form1.EventType.$error.required && submitted">Select Event Type</span>
        </div>
        <div class="form-group">
            Venue Type
            <select ng-model="Book.Venueselected" class="form-control" required ng-options="s.VenueID as s.VenueName for s in VenueList" name="VenueType" id="VenueType">
                <option value="">select an option...</option>
            </select>
            <span style="color: red" ng-show="form1.VenueType.$error.required && submitted">Select Venue Type</span>
        </div>
        <div class="form-group">
            No .Of Guest
            <input id="NoofGuest" ng-model="Book.NoofGuest" class="form-control" name="NoofGuest" required type="text" />
            <span style="color: red" ng-show="form1.NoofGuest.$error.required && submitted">Enter NoofGuest </span>
        </div>

        <div class="form-group">
            Booking Date
             <input id="BookingDate" mydatepicker ng-model="Book.BookingDate" ng-change="selectDate(Book.BookingDate)" char-limit="10" class="form-control" name="BookingDate" type="text" />

        </div>
        <div class="form-actions">
            <input type="submit" ng-show="hideSubmit" class="btn btn-success" ng-click="CheckBooking(Book,form1);submitted=true" value="Check Availability" />
            <input type="submit" ng-show="hideBooking" class="btn btn-success" ng-click="BookingEvent(Book,form1);submitted=true" value="Book Event" />
            <input type="button" class="btn btn-success" ng-click="Cancel();" value="Cancel" />
        </div>
    </div>
    <div class="form-group">
        <div class="bg">
            <div class="mainimageshell">
                <div class="viewwindow">
                    <ul id="fullscroller" class="fullsizelist" ng-style="listposition">
                        <li ng-repeat="image in galleryData">
                            <h4><span class="label label-warning">{{image.VenueName||Uppercase}} || Cost :- {{image.VenueCost||Uppercase}}</span></h4>
                            <img id="fullsize" class="large" ng-src="{{IMAGE_LOCATION+image.VenueFilePath}}" />

                        </li>
                    </ul>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="thumbsshell">
                <div class="thumbswrapper">
                    <ul>
                        <li ng-repeat="image in galleryData">
                            <div class="thumbwrapper">
                                <a ng-href="" ng-click="scrollTo(image,$index)">
                                    <img class="thumbnail" ng-src="{{IMAGE_LOCATION+image.VenueFilePath}}" />
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
