<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12 col-lg-6 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Venue</h3>
                    </div>
                    <div class="panel-body"><a href="#/Venue">Add Venue</a></div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-lg-6 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Equipment</h3>
                    </div>
                    <div class="panel-body"><a href="#/Equipment">Add Equipment</a></div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-lg-6 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Food Items</h3>
                    </div>
                    <div class="panel-body"><a href="#/Food">Add Food Items</a></div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-lg-6 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Lighting</h3>
                    </div>
                    <div class="panel-body"><a href="#/Lighting">Add Lighting</a></div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-lg-6 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Flowers</h3>
                    </div>
                    <div class="panel-body"><a href="#/Lighting">Add Flowers</a></div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-lg-6 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Booking Approval</h3>
                    </div>
                    <div class="panel-body"><a href="#/Lighting">Booking Approval</a></div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-lg-6 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Booking Search</h3>
                    </div>
                    <div class="panel-body"><a href="#/Lighting">Booking Search</a></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
