<form novalidate name="form1">
    <div class="col-xs-offset-0 col-xs-4">
        <h3><span class="label label-info">Add Equipment</span></h3>
        <div class="form-group">
            Equipment Name
            <input id="EquipmentName" class="form-control" ng-model="Equipment.EquipmentName" required name="EquipmentName" type="text" />
            <span style="color: red" ng-show="form1.EquipmentName.$error.required && submitted">Enter EquipmentName </span>
        </div>
        <div class="form-group">
            Equipment Cost
            <input id="EquipmentCost" class="form-control" ng-model="Equipment.EquipmentCost" required name="EquipmentCost" type="number" min="0" />
            <span style="color: red" ng-show="form1.EquipmentCost.$error.required && submitted">Enter EquipmentCost </span>
        </div>
        <div class="form-group">
            <div class="controls">
                <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                <span style="color: red" ng-show="(form1.file.$dirty || IsFormSubmitted) && form1.file.$error.required">Image required!</span>
                <span style="color: red">{{FileInvalidMessage}}</span>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-success" ng-click="SaveEquipment(Equipment);submitted=true" value="Add New Equipment" />
            <input type="button" class="btn btn-success" ng-click="Cancel();" value="Cancel" />
        </div>
        <div class="form-actions">
            <a href="#/AllEquipment">Show All Equipment</a>
        </div>
    </div>
</form>
