<form novalidate name="form1">
    <div class="col-xs-offset-0 col-xs-4">
        <h3><span class="label label-info">Add Food Item</span></h3>
        <div class="form-group">
            Food Type
            <input name="FoodType" id="FoodType1" value="1" required ng-model="Food.FoodType" type="radio" />
            Veg
            <input name="FoodType" id="FoodType2" value="2" required ng-model="Food.FoodType" type="radio" />
            Non-Veg
            <span style="color: red" ng-show="form1.FoodType.$error.required && submitted">Select Food Type</span>
        </div>
        <div class="form-group">
            Meal Type
            <input name="LDType" id="Radio1" value="1" required ng-model="Food.LDType" type="radio" />
            Lunch
            <input name="LDType" id="Radio2" value="2" required ng-model="Food.LDType" type="radio" />
            Dinner
            <span style="color: red" ng-show="form1.LDType.$error.required && submitted">Select Lunch / Dinner Type</span>
        </div>
        <div class="form-group">
            Dish Type
            <select ng-model="Food.Dishtypeselected" class="form-control" required ng-options="s.id as s.name for s in DishtypesList" name="Dishtype" id="Dishtype">
                <option value="">--Select--</option>
            </select>
            <span style="color: red" ng-show="form1.Dishtype.$error.required && submitted">Select Dish Type</span>
        </div>
        <div class="form-group">
            Dish Name
            <input id="FoodName" class="form-control" ng-model="Food.FoodName" required name="FoodName" type="text" />
            <span style="color: red" ng-show="form1.FoodName.$error.required && submitted">Enter Food Name </span>
        </div>
        <div class="form-group">
            Dish Cost
            <input id="FoodCost" class="form-control" ng-model="Food.FoodCost" required name="FoodCost" type="number" min="0" />
            <span style="color: red" ng-show="form1.FoodCost.$error.required && submitted">Enter Food Cost </span>
        </div>
        <div class="form-group">
            <div class="controls">
                <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                <span style="color: red" ng-show="(form1.file.$dirty || IsFormSubmitted) && form1.file.$error.required">Image required!</span>
                <span style="color: red">{{FileInvalidMessage}}</span>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-success" ng-click="SaveFoodItems(Food);submitted=true" value="Add New Food" />
            <input type="button" class="btn btn-success" ng-click="Cancel();" value="Cancel" />
        </div>
        <div class="form-actions">
            <a href="#/AllFood">Show All Food</a>
        </div>
    </div>
</form>
