<form novalidate name="form1">
    <div class="col-xs-offset-0 col-xs-4">
         <h3><span class="label label-info">Edit Venue</span></h3>
        <div class="form-group">
            Venue Name
            <input id="Venuename" class="form-control" ng-model="Venue.Venuename" required name="Venuename" type="text" />
            <span style="color: red" ng-show="form1.Venuename.$error.required && submitted">Enter Venuename </span>
        </div>
        <div class="form-group">
            Venue Cost
            <input id="VenueCost" class="form-control" ng-model="Venue.VenueCost" required name="VenueCost" type="number" min="0" />
            <span style="color: red" ng-show="form1.VenueCost.$error.required && submitted">Enter VenueCost </span>
        </div>
        <div class="form-group">
            <div class="controls">

                <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" />
                <img alt="" width="200px" height="200px" ng-src="{{('../UploadedFiles/'+ Venue.VenueFilePath)}}" />
                <span style="color: red" ng-show="(form1.file.$dirty || IsFormSubmitted) && form1.file.$error.required">Image required!</span>
                <span style="color: red">{{FileInvalidMessage}}</span>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-success" ng-disabled="form1.$invalid" ng-click="UpdateVenueData(Venue);submitted=true" value="Update" />
        </div>
        <div class="form-actions">
            <a href="#/AllVenue">Show All Venue</a>
        </div>
    </div>
</form>
