@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="VenueModule">
    <link href="~/Content/loading-bar.css" rel="stylesheet" />
    <div ng-view></div>
     <environment include="Development">
    @*@System.Web.Optimization.Scripts.Render("~/bundles/AdminNgbundle")*@
        <script src="~/Angularlib/angular.js"></script>
        <script src="~/Angularlib/angular-animate.js"></script>
        <script src="~/Angularlib/angular-cookies.js"></script>
        <script src="~/Angularlib/angular-route.js"></script>
        <script src="~/AngularJS/OuterModule/loading-bar.js"></script>
        <script src="~/AngularJS/Module/App.js"></script>
        <script src="~/AngularJS/Routing/AdminRoutingModule.js"></script>
        <script src="~/AngularJS/AngularController/VenueController.js"></script>
        <script src="~/AngularJS/AngularController/EquipmentController.js"></script>
        <script src="~/AngularJS/AngularController/FoodController.js"></script>
        <script src="~/AngularJS/AngularController/LightController.js"></script>
        <script src="~/AngularJS/AngularController/FlowerController.js"></script>
        <script src="~/AngularJS/AngularController/BookingApprovalController.js"></script>
        <script src="~/AngularJS/AngularController/CustomerOrderDetailsController.js"></script>
        <script src="~/AngularJS/OuterModule/trNgGrid.js"></script>
    </environment>
</div>
